.row{
    margin-left: 15px;
}

img{
    border: 2px solid black;
    border-radius: 3px;
}
.footlink{
    text-decoration: none;
    color: blue;
    
}
footer{
    background-color: rgb(181, 235, 236);
}
