.navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}
h5{
    color: black;
    opacity: 20;
}
p{
    color: rgb(0, 0, 0);
    opacity: 20;
}
img{
    opacity: 0.85;
}
.row {
    margin: 4px auto;
}
.vis{color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 7px;
    display: inline;
    width: 33%;
    background-color: rgb(206, 199, 166);
}
.vis:hover{
    background-color: rgb(230, 212, 142);
}
#container1{
    background-color: darkgrey;

}
#container2{
    background-color: darkgrey;

}
#text{
    color: black;
}
.grid{
    width: 400px;
    height: 250px;
    margin: auto;
    margin-top: 10px;
}
.image{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 3px solid black;
    border-radius: 7px;
}
.footlink{
    text-decoration: none;
    color: blue;
    
}
footer{
    background-color: rgb(187, 245, 247);
    width: 100%;
}

   

